{% extends "base.html" %}

{% block content %}
<div class="mb-3">
    <form method="get" action="/all" class="d-flex align-items-center gap-3">
        <!-- Veikalu izvēle -->
        <select name="veikals" onchange="this.form.submit()" class="form-select w-auto">
            <option value="rimi_lv" {% if selected == 'rimi_lv' %}selected{% endif %}>Rimi LV</option>
            <option value="rimi_lt" {% if selected == 'rimi_lt' %}selected{% endif %}>Rimi LT</option>
            <option value="barbora_lv" {% if selected == 'barbora_lv' %}selected{% endif %}>Barbora LV</option>
            <option value="barbora_lt" {% if selected == 'barbora_lt' %}selected{% endif %}>Barbora LT</option>
        </select>
    </form>
</div>

<h4 class="mb-3">Pilns produktu saraksts</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nosaukums</th>
            <th>Kategorija</th>
            <th>Pašreizējā cena (€)</th>
            <th>Pilnā cena (€)</th>
            <th>Modificēts</th>
            <th>Ir pieejams</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data.table_data %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.current_price }}</td>
            <td>{{ item.full_price }}</td>
            <td>{{ item.modified }}</td>
            <td>{{ "🟩" if item.available else "🟥" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
